<nav id="headerNav">
	<ul class="nav nav-tabs">
		<li role="presentation" v-bind:class="{ active: checkActiveLink('/price-calc') }"><a href="/price-calc">Price Calculator</a></li>
		<li role="presentation" v-bind:class="{ active: checkActiveLink('/price-calc/uploadCSV') }"><a href="/price-calc/uploadCSV">Upload CSV</a></li>
</nav>